.git
__pycache__
*.pyc
*.pyo
*.pyd
.env
.github
.sonarlint
.env.template
**/Dockerfile
**/.dockerignore
**/docker-compose*
**/*.md
**/*.txt
**/tests/
**/ci/
sonar-project.properties
.gitignore
venv
LICENSE
.sonarlint
.vscode
