fastapi>=0.115
uvicorn[standard]>=0.34
sqlalchemy>=2.0
asyncpg>=0.30
colorlog>=6.7.0
psycopg2-binary>=2.9.3
python-dotenv>=1.0
pydantic-settings>=2.0
pydantic>=2.0
passlib[argon2]>=1.7.4
argon2-cffi>=21.3.0
bcrypt>=4.3.0
python-jose[cryptography]>=3.3.0
email-validator>=2.0
cryptography>=44.0
alembic>=1.15
sqlalchemy-utils>=0.41
anyio>=4.0
httpx>=0.28
python-multipart>=0.0.5
cachetools>=5.3.1
pytest>=8.0
black>=23.0
flake8>=7.0
mypy-extensions>=1.0
types-python-dateutil>=2.9
ipython>=8.0
requests>=2.32
coverage>=7.0
watchfiles>=0.21
sentry-sdk>=2.15
psutil>=5.9
